

.article-body { 
    padding: var(--padding-small) 0;
    width:100%;
}

.article-body >*:not(figure) { padding: 0 var(--padding);
}


.article-body > h2, .article-body > h3,
.article-body > h4, .article-body > h5, .article-body > h6
{
    font-size:var(--article-headline);
    line-height:var(--article-headline-line);
    font-family: var(--font1-bold);
    margin-bottom:var(--padding-small);
    color:var(--color-black);
 }

 .article-body > strong { 
    font-size:var(--p);
    font-family: var(--font1-bold);
    margin-bottom:var(--padding);
    color:var(--color-offblack);
}

.article-body > * { padding: 0 var(--padding);}

.article-body > p > a { color:var(--color); }
.article-body > p > a:hover { text-decoration: underline; }


.article-body > p { 
    font-size:var(--p);
    font-family: var(--font1);
    margin-bottom:var(--padding);
    color:var(--color-offblack);
}

.article-body p:first-of-type { 
    font-size:var(--p);
}

.article-body figure { 
    margin-bottom:var(--padding-big); 
    padding:0;
}

.article-body figcaption {
border-bottom:1px solid var(--color-grey-half);
background:var(--color-white);
color:var(--color-offblack);
font-size:var(--xsmall);
text-align: center;
padding:var(--padding-small);
font-family: var(--font1-bold);
}

.article-body figcaption a, blockquote a { 
color:var(--color);
}
.article-body figcaption a, blockquote a { 
    color:var(--color-shade);
    text-decoration: underline;
    }

.article-body img { 
    width:100%;
    margin:0; padding:0;
    object-fit: cover;
} 

.article-body >*:not(figure) { padding: 0 var(--padding);
}

/* Lists */
.article-body ul:not(.sharers-horizontal), .article-body ol {
    list-style-position: inside;
    margin-bottom:var(--padding-big);
    margin-left:var(--padding);
    font-size:var(--p);
    font-family: var(--font1);
    color:var(--color-offblack);
    }
    
    .article-body ul li { 
    line-height:var(--line-height);
    margin-bottom:var(--padding-small);
    list-style-position: outside;
    list-style-type: square;
    }
    
    .article-body ol li { 
    line-height:var(--line-height);
    margin-bottom:var(--padding-small);
        list-style-position: outside;
        list-style-type: decimal-leading-zero;
    }
    
    .article-body dl { 
    margin-bottom:var(--padding-big);
    margin-left:var(--padding);
    font-family: var(--font1);
    color:var(--color-offblack);
    }
    .article-body dt { 
    font-size:var(--p);
    font-family: var(--font1-bold);
    }
    .article-body dd { 
    font-size:var(--small);
    margin-bottom:var(--padding);
    }

    .article-body a { 
        color:var(--color);
    } 
    

    .article-body > aside { 
        background:var(--color-black);
        padding:var(--padding);
        margin-bottom:var(--padding-big);
        }

        .article-body > aside ol { 
            margin-bottom:0;
        }
        
        .article-body > aside h5 { 
        font-size: var(--article-headline);
        line-height: var(--article-headline-line);
        font-family: var(--font1-heavy);
        color:var(--color-white);
        margin-bottom:var(--padding-small);
        padding-bottom:var(--padding-small);
        border-bottom:1px solid var(--color-grey-half);
        }


        
        .article-body > aside p { 
        font-size:var(--small)!important;
        font-family: var(--font1);
        color:var(--color-light);
        }


        .article-footer {
            margin: var(--padding) 0 var(--padding) 0;
            display: block;
        }

        .rank-math-breadcrumb * { 
            font-size:var(--xsmall);
            color:var(--color-offblack);
            line-height:1;
            font-family: var(--font1);
        }

        .article-footer ul.sharers-horizontal {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 var(--padding) 0;
            padding: var(--padding) var(--padding-small);
            border-top: 1px solid var(--color-grey-half);
            border-bottom: 1px solid var(--color-grey-half);
        }

        .article-footer ul.sharers-horizontal li {
            list-style: none;
            padding: 0 var(--padding-xsmall);
            width: 100%;
            margin: 0;
            list-style: none !important;
        }

        .article-footer .sharers-horizontal li a {
            padding: var(--padding-small);
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-black);
            color: var(--color-white);
            text-align: center;
            font-size: var(--small);
        }