:root {
    --article-title: calc(var(--article-headline) + 25%);
    --article-description: var(--hero-subheadline);
}

@media (min-width:768px) {
    :root {
        --article-title: calc(var(--article-headline) + 25%);
        --article-description: var(--hero-subheadline);
    }
}


.article-body > .header > .title
{
    font-size:var(--article-title);
    line-height:var(--article-headline-line);
    font-weight:var(--heavy);
    margin-bottom:var(--padding-small);
    color:var(--color-black);
}


 .article-body > .header > .description
{
    margin-bottom:0;
    color:var(--color-offblack);
    font-style:normal;
    font-size:var(--article-description);
 }
