        :root {
            --color: #ee0099;
            --color-black: #0a0b0c;
            --color-white: #fff;
            --color-offblack: #3a3b3c;
            --color-offwhite: #f3f4f5;
            --color-light: #dadbdc;
            --color-lightgrey: #babbbc; --color-lightgrey-half: #babbbc50;
            --color-grey: #9a9b9c; --color-grey-half: #9a9b9c50;
            /* --dark-border:#babbbc50; */
        }

        

        .bg-color {
            background-color: var(--color)!important;
        }

        .bg-white {
            background-color: var(--color-white)!important;
        }

        .bg-offwhite {
            background-color: var(--color-offwhite)!important;
        }

        .bg-black {
            background-color: var(--color-black)!important;
        }

        .bg-offblack {
            background-color: var(--color-offblack);
        }



    .bg-white > .headline {
        color:var(--color-black);
    } 
    .bg-white > * {
        color:var(--color-grey);
    } 

    .bg-black > .headline {
        color:var(--color-white);
    } 

    .bg-black > * {
        color:var(--color-lightgrey);
    } 

    .color { color:var(--color)!important; }

    /* 
    body[data-color='blue'] {
    } 
    */