:root {
    --puff-width: 150px;
    --puff-height: 100px;
}

/* @media (min-width:768px) {
    :root {
        --puff-width: 150px;
        --puff-height: 100px;
    }
} */

#related .puff_teasers {
    margin-bottom:0;
}

.puff_teasers {
    /* padding:var(--padding-small); */
    display:block;
}

.puff_teaser {
    position: relative;
    height: var(--puff-height);
    margin: 0 0 var(--padding) 0;
    display:block;
}


.puff_teaser:last-child { 
    margin-bottom: 0;
}


.puff_teaser figure { 
    margin-bottom:0;    
    height:100px;
    width:150px;
    overflow: hidden;
    position:absolute;
    bottom: 0;
    left: 0;
}

.puff_teaser img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--puff-width);
    height: var(--puff-height);
}


@media (min-width:768px) {

    .puff_teasers { 
padding:0;
    }

    .puff_teaser {
        margin: 0 0 var(--padding) 0;
        padding:0 var(--padding);
    }
    
    .puff_teaser:last-child { 
        margin-bottom: 0;
    }



}

.puff_teaser header {
    position: absolute;
    bottom: 0;
    left: var(--puff-width);
    width: auto;
    height: var(--puff-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 var(--padding-small);
}

.puff_teaser header .kicker { 
    font-size: var(--kicker);
    margin:0;
}

.puff_teaser header .headline {
    font-weight: var(--regular);
    font-size: var(--p);
    line-height: 1.4;
    color: var(--color-black);
    margin:0;
}