

.standard_teaser.teaser {
    margin-bottom: var(--padding);
}

.standard_teaser.teaser:last-child {
    margin-bottom: 0;
}

.standard_teaser .header {
    padding: var(--padding);
}

.standard_teaser .headline {
    font-weight:var(--bold);
}



.standard_teasers {
    display: grid;
    grid-template-columns: 1fr;
    padding:0 var(--padding);

} 


@media only screen and (min-width : 768px) {
    .with-side .standard_teasers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--padding);
        padding: var(--padding);
    }

    .standard_teasers {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr!important;
        padding:0 var(--padding);
    } 

    .standard_teaser.teaser {
        margin-bottom: 0;
    }
    




}
