.showcase { 
    padding:var(--padding);
}

@media (min-width:768px) {
    .showcase { 
        padding:0;
    }
    
}

.showcase_header { 
    padding:0!important;
    margin:0 0 var(--padding) 0!important;
    display: block;
    font-size:calc(var(--teaser-headline) * 1.5 );
    font-weight:var(--bold);
    text-transform: uppercase;

}    

.showcase_header * { 
    margin-right:var(--padding-small);
    display:inline-block;
}

.showcase_header a:hover { 
    color:var(--color);
}

/* .teaser { 

    transition: ease all .33s;
}

.teaser:hover { 
     box-shadow: 4px 4px 14px 0 rgba(3,3,3,.06); 
}

 */

.teaser .header > * { 
transition: ease all .33s;
}

.teaser img {
transition: ease all .33s;
width: 100%;
height: 100%;
object-fit: cover;
}

.teaser:hover .kicker { 
-webkit-filter: brightness(75%); 
filter: brightness(75%); 
}

.teaser:hover .headline { 
color:var(--color);
text-decoration: underline;
    }

.teaser:hover img { 
    /* -webkit-filter: brightness(125%); 
    filter: brightness(125%);  */
    scale: 1.5%;
    transform: scale(1.05);
    }