.byline {
    display: flex; 
    align-items: center;
    font-size: var(--small);
    color: var(--color-grey);
    text-align: left;
    justify-content:space-between;
    width:100%;
    flex-wrap: wrap;
    margin: var(--padding) 0;
    padding:var(--padding)!important;
    color: var(--color-grey);
    border-top:1px solid var(--color-grey-half);
    border-bottom:1px solid var(--color-grey-half);   
}

.byline > * { 
    display:block; width:100%;
    color: var(--color-grey);    
}

.byline address, .byline time { 
display:inline-block;
} 

.byline p { 
    font-size: var(--small) !important;
    color: var(--color-grey);

}

/* .byline::before { 
    content:""; display: block; height:1px; background-color:var(--color-lightgrey);
    margin-bottom:var(--padding-small); opacity:.25;
}

.byline::after { 
    content:""; display: block; height:1px; background-color:var(--color-lightgrey);
    margin-top:var(--padding-small); opacity:.25;
} */


.byline figcaption {
    font-size: var(--small);
    color: var(--color-grey);    
}

.byline figcaption p {
    font-size: var(--small) !important;
}

.byline a {
    color: var(--color);
}

.byline figcaption time {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: block;
}


time.modified { font-size:var(--xsmall);  }