:root {
    --button-height: 44px;
}

@media (min-width:768px) {
    :root {
        --button-height: 55px;
    }
}

a.button { 
    color:var(--color);
}

a.button { 
    font-weight:700;
}

.buttons { 
height:var(--button-height);
line-height:var(--button-height);
display:block;
margin-top:var(--padding-small);
}

.buttons .button { 
    color:var(--color);
    /* padding:0 var(--padding); */
    display:inline-block;
    text-align:center;
    
}
