#footer { 
    padding: 0 0 var(--padding-big) 0; 
}

.footer .nav-menu-elements { 
    filter: invert(100);
}

.footer .nav-menu-element { 
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom:var(--padding); 

} 

.footer .copyright, .footer .credit { 
width:100%; text-align: center; display:block;
}

.footer .copyright {
    font-style: normal;
    color:var(--color-light);
    font-size:var(--small);
    padding:var(--padding-small);
    }

    .footer .copyright a { 
        font-weight:var(--bold);
        color:var(--color-white);
    }

    .footer .copyright em { 
        font-weight:var(--regular);
        color:var(--color-offwhite);
        display:block;
        font-style:normal;
    }

.footer .credit {
    font-style: normal;
    color:var(--color-white);
    font-size:var(--xsmall);
    padding:var(--padding);
    align-items: center;
    justify-content: center;
    display:flex;
    }

.credit i, .credit svg { 
font-size:var(--p)!important;
margin:0 var(--padding-xsmall);
}


.flex { display:flex;
justify-content: center; align-items: center;
}

.footer li { list-style: none; color:var(--color-light); }

.footer-logo {
    margin: var(--padding-big) 0 var(--padding);
}

.footer-logo img {
    height: 72px;
    filter: brightness(0) invert(100);
}


.footer-socials li {
    height: 100%;
    list-style: none; 
}

.footer-socials li a {
    height: 100%;
    display: block;
    padding: var(--padding) var(--padding);
    color:var(--color);
    transition: .33s all;
    font-size:1.6rem;
    filter: brightness(0) invert(1);
    opacity:.75;   
}

@media (min-width:768px) {
    .footer-socials li a {
    font-size:3.2rem;
    }
}

.footer-socials li a:hover {
    opacity:1;
}

.footer-links {
    color: var(--color-light);
    font-size: var(--p);
}

.footer-links li {
    height: 100%
}

.footer-links li a {
    height: 100%;
    display: block;
    padding: var(--padding) var(--padding);
    font-size: var(--p);
}

.footer-links li a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

/* .footer cite {
    font-size: var(--p);
    text-align: center;
    width: 100%;
    display: block;
    color: var(--color-light);
    display: block;
    margin-bottom: var(--padding);
} */
